<footer class="footer">
    <div class="footer-container">
      <div class="footer-section info">
        <h4>GYMTEC</h4>
        <p>Tu camino al fitness empieza aquí.</p>
        <p> Cll 18 #20-39 GYMTEC, Palermo, Colombia</p>
        <p>Teléfono: +57 312 8691389</p>
        <p>Email gymtec@gmail.com</p>
      </div>
  
      <div class="footer-section enlaces">
        <h4>Enlaces Rápidos</h4>
        <ul>
          <li><a href="#inicio">Inicio</a></li>
          <li><a href="#servicios">Servicios</a></li>
          <li><a href="#clases">Clases</a></li>
          <li><a href="#membresias">Membresías</a></li>
          <li><a href="#contacto">Contacto</a></li>
        </ul>
      </div>
  
      <!-- Redes Sociales -->
      <div class="footer-section redes">
        <h4>Síguenos</h4>
        <a href="#"><img src="/img/facebook-new.png" alt="Facebook"></a>
        <a href="#"><img src="/img/instagram-new.png" alt="Instagram"></a>
        <a href="#"><img src="/img/tiktok.png" alt="Twitter"></a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 GYMTEC - Todos los derechos reservados.</p>
    </div>
  </footer>

<style>
    
.footer {
    background-color:#061b1a;
    color: white;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-section {
    margin-bottom: 20px;
  }
  
  .footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .footer-section p,
  .footer-section a {
    color: white;
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footer-section a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  
  .enlaces ul {
    list-style: none;
    padding: 0;
  }
  
  .enlaces ul li {
    margin-bottom: 8px;
  }
  
  .redes a {
    display: inline-block;
    margin: 0 10px;
  }
  
  .redes img {
    width: 30px;
    height: 30px;
    filter: invert(1);
    transition: transform 0.3s ease;
  }
  
  .redes img:hover {
    transform: scale(1.1);
  }
  
  .footer-bottom {
    background-color: #041312;
    padding: 15px 0;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 14px;
    margin: 0;
    color: #cccccc;
  }
  
</style>