---

---

<header>
    <nav>
        <a href="index.html"><img src="/img/logo.png" width="50" height="50"></a>
        <ul>
            <li><a href="index.html">GYM TEC</a></li>
            <li><a href="/clases-programas">CLASES Y PROGRAMAS</a></li>
            <li><a href="nosotros.html">NOSOTROS</a></li>
            <li><a href="promociones.html">PROMOCIONES</a></li>
            <li><a href="contactanos.html">CONTACTANOS</a></li>
            <li><a href="/login">IN SESION</a></li>
            <li><a href="/register">Inscribete ya!</a></li>
        </ul>
    </nav>
</header>

<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #133a35; 
    color: #333; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f756e;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    font-size:small;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #4b9caa; 
    border-radius: 3px;
}
</style>