---
const { cookies } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

const isLoggedIn = accessToken && refreshToken;
---

<header>
    <nav>
    <a href="/"><img src="/img/logo.png" width="50" height="50" alt="Logo"></a>
    <ul>
        <li><a href="/">GYM TEC</a></li>
        <li><a href="/clases-programas">CLASES Y PROGRAMAS</a></li>
        <li><a href="/nosotros">NOSOTROS</a></li>
        <li><a href="/promociones">PROMOCIONES</a></li>
        <li><a href="/contactanos">CONTÁCTANOS</a></li>
    </ul>
    <ul>
        {isLoggedIn ? (
            <>
                <li><a href="/dashboard">PANEL DE CONTROL</a></li>
                <li>
                <form action="/api/auth/signout">
                    <button type="submit">Cerrar sesión</button>
                </form>
                </li>
            </>
            ) : (
            <>
                <li><a href="/signin">INICIAR SESIÓN</a></li>
                <li><a href="/register">REGISTRARME</a></li>
            </>
        )}
        </ul>
    </nav>
</header>

<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #133a35; 
    color: #333; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f756e;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    font-size:small;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #4b9caa; 
    border-radius: 3px;
}
</style>