.contenido {
    display: flex;
    justify-content: space-between;
  }
  
  .izquierda, .derecha{
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .izquierda, .derecha h2{
    color: white;
  }
  
  .izquierda, .derecha p{
    color: white;
  }

  b{
    color: white;
  }
  
  h3{
    color: aqua;
  }
  
  img{
    width: 200px;
    text-align: center;
  }
  
  img:hover{
    transform: scale(1.1);
  }
  
  iframe{
    width: fit-content;
    height: fit-content;
  }
  
  .contenedor-entrenadores {
    display: flex;
    gap: 20px; 
    justify-content: center;
    align-items: center;
  }
  
  .entrenadores {
    text-align: center;
  }
  
  .entrenadores img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .wasa img{
    width: 50px;
    height: 50px;
  }

  