---
import Layout from "../layouts/Layout.astro";
import "./css/clases-programas-opciones.css"
---
<Layout title="BOX">
    <main>
        <div class="contenido">
            <div class="izquierda">
      
              <h2>BOX</h2>
      
              <h2>Ejercicios Propuestos</h2>
              <p>Cada uno llevara su respectivo video para que tengas una referencia de la tecnica que debes implementar</p>
              <p>Dependiendo del tipo de Yoga, los haras con mayor o menor frecuencia. Eso lo tendras que comentar con tu coach.</p>
      
              <h3>Sombra (Shadow Boxing):</h3>
              <p>Practicar golpes, combinaciones y movimientos de pies frente a un espejo o en el aire.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/6NxPPA9Rpi4?si=zP1M-O3HJaJMsGge" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>      
              <h3>Trabajo en el saco pesado (Heavy Bag):</h3>
              <p>Golpear un saco grande con combinaciones de golpes como jab, cross, ganchos y uppercuts.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/7kt7eLrPyyM?si=QZRgS2mLACASZW0U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>        
              <h3>Trabajo de guantes (Mitt Work):</h3>
              <p>Practicar combinaciones de golpes con un entrenador que sostiene los guantes de foco. Aumenta la precisión, el timing, y la capacidad de reaccionar mientras se practica la defensa y el contraataque.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Bcj-3ubj3jo?si=TeJhKB4ZkDxDTasL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>        
              <h3>Sparring (Combate controlado):</h3>
              <p>Práctica de boxeo con un compañero para simular situaciones de combate real.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/rTaQnM-eeYQ?si=cKgD5P0D4C9YmLwh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>      
              <h3>Ejercicios defensivos:</h3>
              <p>Esquivar (slips), agacharse (ducks), bloquear (blocks) y desviar golpes (parries).</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ELZHntRpY5w?si=STp7rKMaiB50ZRIS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      
            </div>
      
            <div class="derecha">
              <div class="contenedor-entrenadores">
                <div class="entrenadores">
                <h2>Entrenadores</h2>
                <img src="/img/yildia.avif" alt="user">
                <br>
                <br>
                <b>Profesora Yildia Rodrigo Agudelo</b>
                <br>
                <br>
                <div class="wasa">
                <a href="https://wa.me/qr/NL5CN6AHSLHKF1"><img src="/img/whatsapp.png" alt="logo"></a>
                </div>
                <br>
                <img src="/img/andres.jfif" alt="user">
                <br>
                <br>
                <b>Profesor Andres Buitrago Lavao</b>
                <br>
                <br>
                  <div class="wasa">
                  <a href="https://wa.me/qr/NL5CN6AHSLHKF1"><img src="/img/whatsapp.png" alt="logo"></a>
                  </div>
                </div>
              </div>
            </div>
    </main>
</Layout>