---
import Layout from "../layouts/Layout.astro";
import "./css/clases-programas.css"
---
<Layout title="Clases y programas">
    <main>
        <section id="clases-programas">
            <h2>Clases y Programas</h2>
            <p>Descubre nuestras clases y programas diseñados para todos los niveles y objetivos.</p>
            <ul>
                <li><a href="yoga.html"><img src="/img/yoga.png" alt="icon" width="200px"></a></li>
                <li><a href="crossfit.html"><img src="/img/crossfit.png" alt="icon" width="200px"></a></li>
                <li><a href="personalizado.html"><img src="/img/entrenamiento.png" alt="icon" width="200px"></a></li>
                <li><a href="zumba.html"><img src="/img/zumba.png" alt="icon" width="200px"></a></li>
                <li><a href="box.html"><img src="/img/Boxeo.png" alt="icon" width="200px"></a></li>
            </ul>
        </section>
        <br>
        <br>
        <br>
    </main>
</Layout>