---
import Layout from "../layouts/Layout.astro";
import "./css/clases-programas-opciones.css"
---

<Layout title="Crossfit">
    <main>
        <div class="contenido">
            <div class="izquierda">
      
              <h2>CROSSFIT</h2>
      
              <h2>Ejercicios Propuestos</h2>
              <p>Los principales ejercicios en CrossFit son aquellos que combinan movimientos funcionales de levantamiento de pesas,
                gimnasia y ejercicios cardiovasculares de alta intensidad.</p>
              <p>Dependiendo de tu intensidad, los haras con mayor o menor frecuencia. Eso lo tendras que comentar con tu coach.</p>
      
              <h3>Saludo al sol (Surya Namaskar)</h3>
              <p>Es una secuencia dinámica que combina varias posturas. Es excelente para calentar y mejorar la flexibilidad y la fuerza.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/YhJpjII21Ds?si=Mr5CoQo8O031TJAY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      
              <h3>Perro boca abajo (Adho Mukha Svanasana):</h3>
              <p>Es una postura en la que el cuerpo forma una V invertida. Fortalece los brazos, las piernas y estira la espalda.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/G74sC-56ops?si=O9DImlETXUiWngpM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      
              <h3>Postura del guerrero (Virabhadrasana):</h3>
              <p>Hay varias versiones (Guerrero I, II y III), y todas fortalecen las piernas, mejoran la estabilidad 
              y aumentan la flexibilidad en las caderas.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/qEjykUAm68s?si=VbNcGIQkhy16m4qA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      
              <h3>Postura del árbol (Vrikshasana):</h3>
              <p>Es una postura de equilibrio que ayuda a mejorar la concentración y la estabilidad, 
              fortaleciendo las piernas y tonificando los músculos abdominales.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/pJQ8HhMZ7GY?si=mArRbaaENDNAtIA9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      
              <h3>Postura del niño (Balasana):</h3>
              <p>Es una postura de descanso que alivia la tensión en la espalda, los hombros y el cuello. También es útil para la relajación mental.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ELZHntRpY5w?si=STp7rKMaiB50ZRIS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      
            </div>
      
            <div class="derecha">
              <div class="contenedor-entrenadores">
                <div class="entrenadores">
                <h2>Entrenadores</h2>
                <img src="/img/Jhostin.jpg" alt="user">
                <br>
                <br>
                <b>Profesor Jhostin Eduardo Buitrago</b>
                <br>
                <br>
                <div class="wasa">
                <a href="https://wa.me/qr/NL5CN6AHSLHKF1"><img src="/img/whatsapp.png" alt="logo"></a>
                </div>
                <br>
                <img src="/img/yildia.avif" alt="user">
                <br>
                <br>
                <b>Profesora Yildia Rodrigo Agudelo</b>
                <br>
                <br>
                  <div class="wasa">
                  <a href="https://wa.me/qr/NL5CN6AHSLHKF1"><img src="/img/whatsapp.png" alt="logo"></a>
                  </div>
                </div>
              </div>
            </div>
      
          </div>
          <br>
          <br>
    </main>
</Layout>