---
import Layout from '../layouts/Layout.astro';
import './css/index.css';
---

<Layout title="GYM TEC" description=' GYM TEC es un gimnasio muy cool'>
	<main>
		<center><a href="/promociones"><img src="/img/promo.png" alt="png" width="90%" height="600"></a></center>

		<a href="promociones.html"></a>
	
		<h2><center>Inscribete y escoge tu plan</center></h2>
	
		<table width="1300"  border="1">
			<tr>
				<th>plan Premium</th>
				<th>Plan smartpro</th>
				<th>plan basico</th>
			</tr>
			<tr>
				<td>
					<li>Entrena con 5 amigos al mes</li>
					<li>Salas habilitadas de Spa</li>
					<li>Elige tu plan personalizado</li>
					<li>Entrenamientos en linea</li>
					<li>Clases grupales con profesores</li>
					<li>Acceso a todas las areas de la sede</li>
					<li>Obten planes de comidas y dietas</li>
				</td>
				<td>
					<li>Entrena con 3 amigos al mes</li>
					<li>Plan personalizado</li>
					<li>Entrenamientos en linea</li>
				</td>
				<td>
					<li>Espacion individual para entrenamiento</li>
					<li>Obten planes personalizados</li>
				</td>
			</tr>
		</table>
		<br>
	
		<a href="/register" id="Inscribete_ya">Inscribete ya</a>
	
		<h2>Vive las mejores experiencias</h2>
		<div class="video"><video src="/videos/Gym.mp4" autoplay muted loop></video></div>
	<br>
	<center><h2>Algunas experiencias que tendras con este servicio</h2></center>
	<br>
	<table width="1300"  border="1">
		<tr>
			<td>
				<img src="/img/1.png" alt="icon" width="300px">
			</td>
			<td>
				<img src="/img/2.png" alt="icon" width="300px">
			</td>
			<td>
				<img src="/img/3.png" alt="icon" width="300px">
			</td>
		</tr>
	</table>
	<br>
	<br>
    <div class="botton-search">
        <form action="buscar.html" method="get">
            <input type="search" name="query" placeholder="CIUDAD" required>
			<br>
			<br>
            <button type="submit">Buscar</button>
        </form>
    </div>
	<br>
	<br>
	<br>
	</main>
</Layout>