---
import Layout from "../layouts/Layout.astro";
import "./css/nosotros.css"
---
<Layout title="Nosotros">
    <main>
        <section id="nosotros">
            <h2>NOSOTROS</h2>
            <p>En GYM TEC, estamos dedicados a ayudarte a alcanzar tus metas de fitness. Nuestro equipo de profesionales está aquí para apoyarte en cada paso de tu viaje.</p>
            <p>Conoce más sobre nuestra misión, visión y valores.</p>
            <h2>MISIÓN</h2>
            <p>Nuestra misión es desarrollar una plataforma web intuitiva y eficiente que facilite 
                la conexión entre los gimnasios y sus usuarios. Nos comprometemos a ofrecer una experiencia 
                digital que mejore la gestión de servicios, la comunicación y el acceso a la información,
                promoviendo así un estilo de vida saludable y activo.</p>
            <h2>VISIÓN</h2>
            <p>Desarrollar una plataforma web innovadora y fácil de usar que permita a los gimnasios gestionar
                 eficientemente sus servicios y mejorar la interacción con sus usuarios, proporcionando una
                  experiencia digital integral que fomente un estilo de vida saludable y activo. También
                   mostraremos instalaciones y programas de entrenamiento, facilitando el acceso de nuestros 
                   usuarios a recursos de fitness, nutrición y bienestar para alcanzar una buena salud y 
                   acondicionamiento físico.
            </p>
            <h2>EL CRECIMIENTO PERSONAL</h2>
            <p>Dentro de estas actividades alcanzarás limites dentro de tu cuerpo que seguiras sobrepasando, gracias a todo lo que tiene integrado este gimnasio.
              Nosotros tendremos total compromiso con tu estado fitness dentro de nuestro servicio.
            </p>
    
        </section>
        <br>
        <br>
        <br>
    </main>
</Layout>