---
import Layout from "../layouts/Layout.astro";
import "./css/promociones.css"
---
<Layout title="Promociones GYMTEC">
    <main>
        <br>
        <center><div id="t1">
                <h1>NO LO PIENSES MAS</h1>
                </div></center>
        <center><h3>Elige una de nuestras Promos Smart Fit vigentes, inscríbete ya y vive la mejor experiencia.
            <br>
            conoce todas nuestras super promociones y los beneficios que tenemos para ti.</h3></center>

            <center><div id="t2"><h2>Promociones GYM TEC</h2></div></center>
            <div class="promo">
            <center><table>
                <td>
                    Ahorra un 50% (desde el 12 de septiembre hasta el 31 de octubre)
                    <br>
                    <button id="button">conocer mas!!</button>
                </td>
            </table>
            </center>
            <center><h2>Proximas aperturas GYM TEC</h2></center>
            <center><table width="1300" height="20"  border="1">
                <tr>
                    <th>Muy pronto</th>
                    <th>Muy pronto</th>
                    <th>Muy pronto</th>
                </tr>
                <tr>
                    <th>
                        <a href="#"><img src="/img/logo.png" alt="icon" width="200" height="200"></a>
                    </th>
                    <th>
                        <a href="#"><img src="/img/logo.png" alt="icon" width="200" height="200"></a>
                    </th>
                    <th>
                        <a href="#"><img src="/img/logo.png" alt="icon" width="200" height="200"></a>
                    </th>
                </tr>
            </table></center>
        </div>
        <br>
        <br>
        <br>
    </main>
</Layout>