---
import Layout from "../layouts/Layout.astro";
import "./css/clases-programas-opciones.css"
---
<Layout title="ZUMBA">
    <main>
        <div class="contenido">
            <div class="izquierda">
      
              <h2>ZUMBA</h2>
      
              <h2>Ejercicios Propuestos</h2>
              <p>Cada uno llevara su respectivo video para que tengas una referencia de la tecnica que debes implementar</p>
              <p>Dependiendo del tipo de Yoga, los haras con mayor o menor frecuencia. Eso lo tendras que comentar con tu coach.</p>

              <p>Dentro de "ZUMBA" tendrás una respectiva coreografia hecha por tu profe de preferencia con el cual podras disfrutar un baile estupendo.</p>

              <h2>Aquí tienes un breve video de como es la experiencia.</h2>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/un9inxYgTTA?si=gboQaWnu31YHN_Yv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
      
            <div class="derecha">
              <div class="contenedor-entrenadores">
                <div class="entrenadores">
                <h2>Entrenadores</h2>
                <img src="/img/maria.jfif" alt="user">
                <br>
                <br>
                <b>Profesora Maria Liz Perdomo Salazar</b>
                <br>
                <br>
                <div class="wasa">
                <a href="https://wa.me/qr/NL5CN6AHSLHKF1"><img src="/img/whatsapp.png" alt="logo"></a>
                </div>
                <br>
                <img src="/img/yildia.avif" alt="user">
                <br>
                <br>
                <b>Profesor Yildia Rodrigo Agudelo</b>
                <br>
                <br>
                  <div class="wasa">
                  <a href="https://wa.me/qr/NL5CN6AHSLHKF1"><img src="/img/whatsapp.png" alt="logo"></a>
                  </div>
                </div>
              </div>
            </div>
    </main>
</Layout>